<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="borrar-mov">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

       <div class="container">
       <!--div class="row" hidden$={{logado2}} -->
         <div class="row" >
          <div class="card">
           <div class="card-header"> Movimiento a Borrar </div>
            <div class="card-body">
            <form action="/delMov" method="POST">
              <div class="form-group">
              <!-- <span style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black' >Movimiento a borrar</span> &nbsp;&nbsp;&nbsp;&nbsp; -->
              <input style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black' type="Text" placeholder="id llave" autofocus value="{{id::input}}" > <br>
              </div>
                <div class="form-group">
                  <button on-click="delMov" type="button" name="button" class="btn btn-success">Borrar movimiento</button>
                </div>
            </form>
         </div>
       </div>
       </div>
     </div>

   <!--<div>
     <template is="dom-repeat" items="{{datos.cliente}}"-->

     <iron-ajax
       id="doAccess"
       url="http://localhost:3000/DelMov"
       content-type="application/json"
       crossDomain: true
       dataType: 'jsonp'
       method="POST"
       handle-as="json"
       headers="Access-Control-Allow-Headers: *"
       on-response="manageAJAXResponse"
       on-error="showError"></iron-ajax>
     </template>

   <script>
     /**
      * @customElement
      * @polymer
      */
      class BorrarMov extends Polymer.Element {
        static get is() { return 'borrar-mov'; }
        static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          id:{type:String},
          fecha:{type:Date},
          tipo:{type:String},
          importe:{type:Number},
          logado1:{ type: Boolean, value:false},
          logado2:{ type: Boolean, value:false},
          logado3:{ type: Boolean, value:false},
          logado4:{ type: Boolean, value:false}
        };
      }

      delMov() {
        var valor = {"id": this.id};
        this.$.doAccess.body = JSON.stringify(valor);
        this.$.doAccess.generateRequest();
        console.log('Petición enviada');
        }

      manageAJAXResponse(data) {
         console.log('Respuesta recibida del servidor');
         alert('Registro borrado');
//         this.logado = true;
       }

      showError(error) {
        alert('Registro no encontrado');
         console.log('Hubo un error');
         console.log(error);
         }

    }
   window.customElements.define(BorrarMov.is, BorrarMov);
  </script>
</dom-module>
