<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-usuarios">
  <template>
  <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
  </style>

    <div class="container">
       <div class="row" >
        <button on-click="obtenerUsuarios" type="submit" name="button" class="btn btn-success">Ver Datos Cliente</button>
        <button on-click="ocultar" type="submit" name="button" class="btn btn-success">Ocultar Datos Cliente</button>
      </div>
        <div class="card" hidden$={{!oculto}}>
         <table width='100%' class="table table-striped ">
           <tbody>
              <template is="dom-repeat"  items="[[usuarios]]">
                <tr >
                  <td width='550' style='font-size:16.0pt; font-family:"Arial",sans-serif; color:#084B8A; ' aling='center'>Cliente: [[item.numcli]], Nombre: [[item.nombre]] [[item.apellido]]</td>
                </tr>
              </template>
           </tbody>
         </table>
       </div>
    </div>

   </template>

   <script>
     /**
      * @customElement
      * @polymer
      */
      class GestorUsuarios extends Polymer.Element {
      static get is() { return 'gestor-usuarios'; }
      static get properties() {
        return {
          usuarios: {
            type: Array,
            notify: true},
          oculto:{ type: Boolean, value:false}

        };
      }

      obtenerUsuarios() {
        var request = new XMLHttpRequest();
        //request.open("GET", url, false);
        request.open("GET", "http://localhost:3000/Usuarios", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.usuarios = JSON.parse(request.responseText);
        //console.table(this.usuarios);
        this.oculto = true;
      }

      ocultar() {
        this.oculto = false;
      }


    }
   window.customElements.define(GestorUsuarios.is, GestorUsuarios);
  </script>
</dom-module>
