<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="container">
    <div class="row">
        <h4>Detalle</h4>
       </div>
       <div class="row">
         <button on-click="obtenerClientes" style='font-size:16.0pt; font-family:"Arial",sans-serif;color:white;background-color:#60B6DE' type="button" name="button" class="btn btn-success">Movimientos</button>
         <button on-click="delMovAct" style='font-size:16.0pt; font-family:"Arial",sans-serif;color:white;background-color:#60B6DE' type="button" name="button" class="btn btn-success" >Borrar</button>
         <button on-click="addMovAct" style='font-size:16.0pt; font-family:"Arial",sans-serif;color:white;background-color:#60B6DE' type="button" name="button" class="btn btn-success" >Añadir</button>
         <button on-click="updateMovAct" style='font-size:16.0pt; font-family:"Arial",sans-serif;color:white;background-color:#60B6DE' type="button" name="button" class="btn btn-success">Modificar</button>
         <button on-click="inicio" style='font-size:16.0pt; font-family:"Arial",sans-serif;color:white;background-color:#60B6DE' type="button" name="button" class="btn btn-success">Salir</button>
         <hr color="blue" size=3 >
       </div>


       <div class="card" hidden$={{!logado1}} >
         <table width='100%' class="table table-striped ">
            <thead>
                    <tr bgcolor='#084B8A'>
                      <th  style='color:white; font-size:16px' aling='center'>ID</th>
                      <th  style='color:white; font-size:16px' aling='center'>Num Cliente</th>
                      <th  style='color:white; font-size:16px' aling='center'>Producto</th>
                      <th  style='color:white; font-size:16px' aling='center'>Fecha</th>
                      <th  style='color:white; font-size:16px' aling='center'>Descripción</th>
                      <th  style='color:white; font-size:16px' aling='center'>Importe</th>

                    </tr>
            </thead>
             <tbody>
             <template is="dom-repeat"  items="[[clientes]]">
                <tr bgcolor='#E6F1FB'>
                    <td width='180' style='color:#084B8A; ' aling='center'>[[item._id.$oid]]</td>
                    <td width='100' style='color:#084B8A; ' aling='center'>[[item.numcli]]</td>
                    <td width='100' style='color:#084B8A; ' aling='center'>[[item.producto]]</td>
                    <td width='100' style='color:#084B8A; ' aling='center'>[[item.fecha]]</td>
                    <td width='250' style='color:#084B8A; ' aling='center'>[[item.tipo]]</td>
                    <td width='180' style='color:#084B8A; ' aling='center'>[[item.importe]]</td>
                </tr>
          </template>
          </tbody>
         </table>

       </div>

       <div class="container">
       <div class="row" hidden$={{!logado2}} >
              <borrar-mov></borrar-mov>
       </div>
       </div>

     <div class="container">
       <div class="row" hidden$={{!logado3}} >
            <inserta-mov></inserta-mov>
       </div>
     </div>

     <div class="row" hidden$={{!logado4}} >
        <div class="row"  >
          <modifica-mov></modifica-mov>
        </div>
     </div>


    </div>
   </template>


   <!--<div>
     <template is="dom-repeat" items="{{datos.cliente}}"-->

   <script>
     /**
      * @customElement
      * @polymer
      */
      class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          id:{type:String},
          fecha:{type:Date},
          tipo:{type:String},
          importe:{type:Number},
          logado1:{ type: Boolean, value:false},
          logado2:{ type: Boolean, value:false},
          logado3:{ type: Boolean, value:false},
          logado4:{ type: Boolean, value:false}
        };
      }

      obtenerClientes() {
        var request = new XMLHttpRequest();
        //request.open("GET", url, false);
        request.open("GET", "http://localhost:3000/Clientes", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText);
        //console.table(this.clientes);
        this.logado1 = true;
        this.logado2 = false;
        this.logado3 = false;
        this.logado4 = false;

      }

      delMovAct() {
        this.logado1 = false;
        this.logado2 = true;
        this.logado3 = false;
        this.logado4 = false;
      }

//      delMov() {
//        var id = {"id": this.id};
//        varURL="http://localhost:3000/DelMov";
//        varMethod="DELETE"
//        this.$.doAcc.body = JSON.stringify(id);
//        this.$.doAcc.generateRequest();
//        console.log('Petición enviada');
//        }

      addMovAct() {
        this.logado1 = false;
        this.logado2 = false;
        this.logado3 = true;
        this.logado4 = false;
      }

//      addMov() {
//        var request = new XMLHttpRequest();
//        //request.open("GET", url, false);
//        request.open("GET", "http://localhost:3000/AddMov", false);
//        request.setRequestHeader("Accept", "application/json");
//        request.send();
//      }

      updateMovAct() {
        this.logado1 = false;
        this.logado2 = false;
        this.logado3 = false;
        this.logado4 = true;
      }

      inicio() {
        var request = new XMLHttpRequest();
        this.logado1 = false;
        this.logado2 = false;
        this.logado3 = false;
        this.logado4 = false;
      }


    }
   window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
