<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="inserta-mov">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="card">
      <div class="card-header"> Insertar Movimiento </div>
      <label style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' >Producto</label> &nbsp;&nbsp;&nbsp;&nbsp;
      <input required style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' type="Text" placeholder="Producto" autofocus value="{{producto::input}}" > <br>
      <!--input required style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' type="Text" placeholder="Producto" autofocus value="{{producto::input}}" > <br-->
      <span style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' >Fecha</span> &nbsp;&nbsp;&nbsp;&nbsp;
      <input required style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' type="Date" placeholder="Fecha" autofocus value="{{fecha::input}}" > <br>
      <span style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' >Descripción</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input required style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' type="Text" placeholder="Descripción" autofocus value="{{tipo::input}}" > <br>
      <span style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' >Importe</span> &nbsp;&nbsp;&nbsp;&nbsp;
      <input required style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' type="Number" placeholder="Importe" autofocus value="{{importe::input}}" > <br>
      <button  on-click="addMov" >Guardar movimiento</button>
    </div>

     <iron-ajax
       id="doAccess"
       url="http://localhost:3000/AddMov"
       content-type="application/json"
       crossDomain: true
       dataType: 'jsonp'
       method="POST"
       handle-as="json"
       headers="Access-Control-Allow-Headers: *"
       on-response="manageAJAXResponse"
       on-error="showError"></iron-ajax>
     </template>

   <script>
     /**
      * @customElement
      * @polymer
      */
      class InsertaMov extends Polymer.Element {
        static get is() { return 'inserta-mov'; }
        static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          id:{type:String},
          fecha:{type:Date},
          tipo:{type:String},
          importe:{type:Number},
          logado1:{ type: Boolean, value:false},
          logado2:{ type: Boolean, value:false},
          logado3:{ type: Boolean, value:false},
          logado4:{ type: Boolean, value:false}
        };
      }

      addMov() {
        var valor = { "producto": this.producto,
                      "fecha": this.fecha,
                      "importe": this.importe,
                      "tipo": this.tipo
                     };

        this.$.doAccess.body = JSON.stringify(valor);
        this.$.doAccess.generateRequest();
        console.log('Petición enviada');
        }

      manageAJAXResponse(data) {
         console.log('Respuesta recibida del servidor');
         alert('Registro insertado');
//         this.logado = true;
       }

      showError(error) {
        alert('Error, no registrado');
         console.log('Hubo un error');
         console.log(error);
         }

    }
   window.customElements.define(InsertaMov.is, InsertaMov);
  </script>
</dom-module>
