<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
  <style>
    :host {
      display: block;
    }

  </style>
  <div class="container">
    <center>
        <h2 >Sistema Integral de clientes/movimientos</h2>
    </center>

    <div class="row" hidden$={{logado}}>
     <center>
        <p >
        <span style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black' >Usuario</span> &nbsp;&nbsp;&nbsp;&nbsp;
        <input style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black' type="email" placeholder="Email" autofocus value="{{email::input}}" > <br>
        <span style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black'>Contraseña</span>
        <input style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black' type="password" placeholder="Password" autofocus value="{{password::input}}" > <br> <br>
        <button  on-click="login" style='font-size:16.0pt; font-family:"Arial",sans-serif;color:white;background-color:#00324B' >Iniciar Sesión</button>
        <o:p></o:p>
        </p>
      </center>
    <!--  Usuario(email): <input type="email" value="{{email::input}}"> <br>
      Contraseña: <input type="password" value="{{password::input}}"> <br>
      <hr border-0>
      style='font-size:14.0pt; font-family:"Arial",sans-serif;color:white;background-color:#00324b'
      class="btn btn-primary btn-block"
      <button class="textcentro" on-click="login" class="btn btn-success">Iniciar Sesión</button  -->

      </div>
    <div class="row" hidden$="{{!logado}}">
      <gestor-usuarios></gestor-usuarios>
       <gestor-clientes></gestor-clientes>

    </div>
  </div>

  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/Login"
    content-type="application/json"
    crossDomain: true
    dataType: 'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError"></iron-ajax>
  </template>

<script>
  /**
   * @customElement
   * @polymer
   */
   class LoginApp extends Polymer.Element {
     static get is() { return 'login-app'; }
     static get properties() {
       return {
         usuarios: {
           type: Array,
           notify: true
         },
        // email: {type: String},
        // password: { type: String},
        // numcli:{type:String},
        // nombre:{type:String},
        // apellido:{typer:String},
         logado: {type: Boolean,value: false}
       };
     }

   login() {
       var loginData = {"email" : this.email ,
                        "password" : this.password,
                       };

      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      console.log('Petición enviada');
      //console.table(this.$.doLogin.body);
      }
   manageAJAXResponse(data) {
      console.log('Respuesta recibida del servidor');
      this.logado = true;

      }
   showError(error) {
      console.log('Hubo un error');
      alert('Datos ingresados incorrectos, por favor verifique');
      console.log(error);

      }
   }
   window.customElements.define(LoginApp.is, LoginApp);
 </script>
</dom-module>
