<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="modifica-mov">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="container">
      <h3>Modifica Movimiento</h3>
      <div class="card">
      <label style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' >Indique Id a modificar</label> &nbsp;&nbsp;&nbsp;&nbsp;
      <input  style='font-size:12.0pt; font-family:"Arial",sans-serif; color:black' type="Text" placeholder="Id llave" autofocus value="{{id::input}}" > <br>
       <table width='80%' class="table table-striped ">
           <thead>
                   <tr bgcolor='#084B8A'>
                     <th  style='color:white; font-size:16px' aling='center'>Producto</th>
                     <th  style='color:white; font-size:16px' aling='center'>Fecha</th>
                     <th  style='color:white; font-size:16px' aling='center'>Descripción</th>
                     <th  style='color:white; font-size:16px' aling='center'>Importe</th>
                   </tr>
           </thead>
            <tbody>
                 <tr bgcolor='#E6F1FB'>
                     <td><input required style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black' type="text" placeholder="Producto" autofocus value="{{producto::input}}" ></td>
                     <td><input required style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black' type="date" placeholder="Fecha" autofocus value="{{fecha::input}}" > </td>
                     <td><input required style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black' type="text" placeholder="Descripción" autofocus value="{{tipo::input}}" > </td>
                     <td><input required style='font-size:14.0pt; font-family:"Arial",sans-serif; color:black' type="number" placeholder="Importe" autofocus value="{{importe::input}}" > </td>

                 </tr>
         </tbody>
        </table>
      <button  on-click="updateMov2"  >Modifica movimiento</button>
    </div>

    </div>

     <iron-ajax
       id="doAccess"
       url="http://localhost:3000/UpdateMov"
       content-type="application/json"
       crossDomain: true
       dataType: 'jsonp'
       method="POST"
       handle-as="json"
       headers="Access-Control-Allow-Headers: *"
       on-response="manageAJAXResponse"
       on-error="showError"></iron-ajax>
     </template>

   <script>
     /**
      * @customElement
      * @polymer
      */
      class ModificaMov extends Polymer.Element {
        static get is() { return 'modifica-mov'; }
        static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          id:{type:String},
          fecha:{type:Date},
          tipo:{type:String},
          producto:{type:String},
          importe:{type:Number},
          oculto:{ type:Boolean, value:false},
          str: String
        };
      }

      updateMov() {
        var valor = { "id": this.id,
                      "producto": this.producto,
                      "fecha": this.fecha,
                      "tipo": this.tipo,
                      "importe": this.importe
                     };

        this.$.doAccess.body = JSON.stringify(valor);
        this.$.doAccess.generateRequest();
        console.log('Petición enviada');
        }

      updateMov2() {
        var xhr = new XMLHttpRequest();
        var urlMlabRaiz = "https://api.mlab.com/api/1/databases/erodriguezg/collections/"
        var apiKey = "?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt"
        var valor = { "numcli": "12345",
                      "producto": this.producto,
                      "fecha": this.fecha,
                      "tipo": this.tipo,
                      "importe": this.importe
                     };
        let body = JSON.stringify(valor);
        console.log(urlMlabRaiz + "clientes/"+this.id + apiKey)
        xhr.open("PUT", urlMlabRaiz + "clientes/"+this.id + apiKey , false);
        xhr.setRequestHeader('Accept','application/json');
        xhr.setRequestHeader('Content-Type','application/json');


      xhr.send(body);


      }

      manageAJAXResponse(data) {
         console.log('Respuesta recibida del servidor');
         alert('Registro modificado');
//         this.logado = true;
       }

      showError(error) {
        alert('Error, no registrado');
         console.log('Hubo un error');
         console.log(error);
         }

    }
   window.customElements.define(ModificaMov.is, ModificaMov);
  </script>
</dom-module>
